header {
    margin: -8px;
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100px;         
    background-color: #2a65b8; 
    position: relative;
    height: 70px;
}

body{
    margin: 0;
    min-height: 100vh; 
    background-size: 100%;
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;              
  align-items: center;
  text-decoration: none;
  color: white; 
    
}

.logo img {
    width: 100%;
    max-width: 150px
}

.conteudo {
    margin-bottom: 150px;
}

img {
    width: 35px;
    height: 35px;
    margin-top: 10px;
}

#titulo {
    text-align: center;
    margin: 110px;
    font-size: 50px;
    color: #112a4d;
    

}

.imagemtexto {
    display: flex;
    justify-content: left;
    gap: 20px;
    margin-left: 20px;
}



.caixas {
    background-color: #f1f2f2;
    color: #1c62c4;
    
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px; 
}

.caixas h2 {
    color: #112a4d;
}

.caixas ul{
    padding-left: 80px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-bottom: 20px;
}

.caixas li{
    margin-bottom: 7px;
    cursor: pointer;
    margin: 10px;
}

.caixas li:hover{
    color: #2289ce;
    text-decoration: underline;
}

.caixas li a{
    text-decoration: none;
    color: #1c62c4;
}


#rodape{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #606060;
    text-align: center;
    padding: 15px 30px;
    background-color: #2a65b8;
}

#rodape p {
    color: #ffffff; 
    margin: 0; 
    flex-grow: 1;
    text-align: center;
    padding: 10px;
    
}

.logo-footer{
    width: 100px;
    height: auto;
    max-width: 150px;
    padding: 7px;
 
}

.icons-footer{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px;
}

.icons-footer li{
    margin-left: 0;
}

.icons-footer img {
    width: 25px; 
    height: auto;
    padding: 3px;
}
