html {
    overflow-y: scroll;
}

header {
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 70px;         
    background-color: #2a65b8; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
    padding: 10px 0;
}

body{
    margin: 0;
    padding-top: 90px;
    min-height: 100vh; 
    background-image: url(/img/sl_031520_28970_04.jpg);
    background-size: 120%;
    background-repeat: no-repeat;
}


.logo {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  display: flex;              
  align-items: center;
  text-decoration: none;
  color: white; 
    
}

.logo img {
    width: 100%;
    height: 75px;
    
}

.hamburguer-nav {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1002;
}

.hamburguer {
    height: 40px;
    width: 40px;
    cursor: pointer;
    position: relative;
}

.hamburguer span {
    height: 4px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.hamburguer span:nth-child(1) { top: 25%; }
.hamburguer span:nth-child(3) { top: 75%; }

.hamburguer.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.hamburguer.active span:nth-child(2) { opacity: 0; }

.hamburguer.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 70px;
    background: linear-gradient(180deg, #2a65b8 0%, #1f4d8f 100%);
    transition: max-height 0.5s ease;
    overflow: hidden;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.menu.active {
    max-height: 400px;
}

.menu-content {
    padding: 90px 0 40px 0;
    opacity: 0;
    transition: opacity 0.4s ease 0.2s;
}

.menu.active .menu-content {
    opacity: 1;
}

.menu-item {
    padding: 1.5rem 2.5rem;
    color: white;
    text-decoration: none;
    display: block;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: "SUSE Mono", sans-serif;
    transition: all 0.3s ease;
    border-left: 4px solid transparent;
    position: relative;
}

.menu-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background: rgba(255, 255, 255, 0.1);
    transition: width 0.3s ease;
}

.menu-item:hover::before {
    width: 100%;
}

.menu-item:hover {
    border-left-color: #ffffff;
    padding-left: 3rem;
    color: #ffffff;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 999;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}





.conteudo {
    margin-bottom: 150px;
    padding: 50px;
    margin-bottom: 50px;
}

img {
    width: 35px;
    height: 35px;
    margin-top: 10px;
}

#titulo {
    text-align: center;
    margin: 110px 0 20px 0; 
    font-size: 50px;
    color: #112a4d;
    position: relative;
    margin-bottom: 50px;
    font-family: "Alan Sans", sans-serif;
}

#titulo::after {
    content: '';
    display: block; 
    width: 550px; 
    height: 2px;
    background-color: #1c62c4; 
    margin: 10px auto 0;
}

.imagemtexto {
    display: flex;
    justify-content: left;
    gap: 20px;
    margin-left: 20px;
}

.caixas {
    background-color: #e3e6e9;
    color: #1c62c4;
    
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px; 
    box-shadow: 10px 5px 5px rgb(232, 229, 229);
    font-family: "Open-Sans", sans-serif;
}

.links {
    font-size: 20px;
    font-family: "SUSE Mono", sans-serif;
}

.caixas h2 {
    color: #112a4d;
}

.caixas ul{
    padding-left: 80px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-bottom: 20px;
}

.caixas li{
    margin-bottom: 7px;
    cursor: pointer;
    margin: 10px;
}

.caixas li:hover{
    color: #2289ce;
    text-decoration: underline;
}

.caixas li a{
    text-decoration: none;
    color: #1c62c4;
}


#rodape{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #606060;
    text-align: center;
    padding: 15px 30px;
    background-color: #2a65b8;
}

#rodape p {
    color: #ffffff; 
    margin: 0; 
    flex-grow: 1;
    text-align: center;
    padding: 10px;
    
}

.logo-footer{
    width: 100px;
    height: auto;
    max-width: 150px;
    padding: 7px;
 
}

.icons-footer{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px;
}

.icons-footer li{
    margin-left: 0;
}

.icons-footer img {
    width: 25px; 
    height: auto;
    padding: 3px;
}
