/* Cabeçalho */

header {
    margin: -8px;
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100px;         
    background-color: #2a65b8; 
    position: relative;
    height: 70px;
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;              
  align-items: center;
  text-decoration: none;
  color: white; 
    
}

.logo img {
    width: 90%;
    max-width: 150px
}


body{
    background-color: whitesmoke;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/*Fontes*/
h1{
    font-family: "Alan-Sans", sans-serif;
}
p{
    font-family: cursive, sans-serif;
}


#geral{
    display: flex;
    max-width: 1150px;
    margin: 0 auto;
    width: 100%;
    gap: 30px;
    padding: 40px;
    flex: 1;
}

/*Bloco de Contato*/
.blocoPrincipal{
    width: 70%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
}

.dadosGerais input, .dadosEspecificos input, .dadosGerais textarea{
    width: 50%;
    padding: 5px;
    box-sizing: border-box;
}

.dadosGerais, .dadosEspecificos{
    margin-bottom: 20px;
}

/*Específicas*/

.check {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 25px;
            padding: 10px;
            border-radius: 4px;
            background-color: #2a65b8;
        }

.check:hover{
    background-color: #0056b3;
}

.check label {
            font-weight: bold;
            margin: 0;
            color: #ffffff;
            cursor: pointer;
        }

.check input[type="checkbox"] {
            width: auto;
            transform: scale(1.3);
            cursor: pointer;
        }


#cpf-container {
    display: none;
}


button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #2a65b8; 
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "SUSE Mono", sans-serif;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}


/*Bloco Lateral*/
.blocoLateral{
    width: 30%;
    background-color: #f9f9f9;
    padding: 20px;
    margin-right: 130px;
    margin-bottom: 450px;
    border-radius: 6px; 
    border: 1px solid #e0e0e0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05); 
}

        /* Rodapé */


#rodape{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #606060;
    text-align: center;
    background-color: #2a65b8;
    margin: -8px;
    padding: 25px 30px 15px 30px;
}


#rodape p {
    color: #ffffff;  
    flex-grow: 1;
    text-align: center;
    padding: 10px;
}

.logo-footer{
    width: 100px;
    height: auto;
    max-width: 150px;
    padding: 7px;
 
}

.icons-footer{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px;
}

.icons-footer li{
    margin-left: 0;
}

.icons-footer img {
    width: 25px; 
    height: auto;
    padding: 3px;
}

#rodape .icons-footer a {
    position: relative; 
    display: inline-block; 
}

#rodape .icons-footer .texto-hover {
    visibility: hidden;
    opacity: 0;
    
    width: max-content;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px 8px;
    
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5px; 
    transition: opacity 0.3s, visibility 0.3s;
    font-size: 12px;
}

#rodape .icons-footer a:hover .texto-hover {
    visibility: visible;
    opacity: 1;
}

