html{
    height: 100%;
}

main{ 
    flex: 1;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px, 0,  100px, 0;
    background-color: #f9f9f9b9;
    border-radius: 15px;
    
    margin: 18px auto 0 auto; 
    width: 90%; 
    max-width: auto; 
    box-shadow: 0 2px 10px rgba(0,0,0,0.25); 
    
}
.logo h1{
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #11ade6;
    padding-left: 30px;
}

.menu ul{
    list-style: none;
    display: flex;
    gap: 30px;
    padding-right: 30px;
}

.menu a{
    text-decoration: none;
    color: #11ade6;
    font-size: 1.1rem;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu a:hover{
    background-color: #cad6df;
}

.texto {
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
    Text-align: center; height: 500px;
    padding: 25px;
    margin-top: 200px;
    color: #3cafdd;
}

body{
    margin: 0;
    height: 200vh;
    gap: 50px;
    display: block;
    justify-content: center;
    align-items: center;

    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 200vh;
}

.principal {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}


.botao {
    padding: 10px 10px;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    background-color: #f7f3f3d7;
    color: rgba(30, 160, 199, 0.699);
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 200px;
}



.botao:hover {
    transform: scale(1.05);
    background-color: #cad6df;
}

#rodape{
    clear: both;
    border-top: 1px solid #606060;
    text-align: center;
    padding: 20px 0;
}