html{
    height: 100%;
    scroll-behavior: smooth;
}

main{ 
    flex: 1;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 200px, 0,  100px, 0;
    background-color: #2a65b8;
    border-radius: 15px;
    margin: 18px auto 0 auto; 
    width: 90%; 
    box-shadow: 0 2px 10px rgba(0,0,0,0.25); 


    position: absolute; 
    top: 18px; 
    left: 50%; 
    transform: translateX(-50%); 
}

#headerLinks {
    display: flex;
    gap: 80px; 
    margin-right: 30px; 
}

#headerLinks a {
    color: white; 
    font-size: 1.1rem; 
    font-weight: 500;
    text-decoration: none; 
    transition: 0.3s ease;
    font-family: "SUSE Mono", sans-serif;
    padding-top: 0;
    display: flex;
    align-items: center;
}

#headerLinks a img{
    width: 40px;
    height: auto;
}


.link-com-hover {
  position: relative; 
  display: inline-block; 
}

.texto-hover {
  display: none; 
  position: absolute; 
  top: 100%; 
  left: 0;
  padding: 5px;
  background-color: #2a65b8;
  color: white;
  white-space: nowrap;
  border-radius: 3px;
  margin-top: 5px;
}

.link-com-hover:hover .texto-hover {
  display: block;
}

#barra {
    color: white; 
    font-size: 1.1rem; 
    font-weight: 500;
    text-decoration: none; 
    transition: 0.3s ease;
    font-family: "Alan-Sans",  sans-serif;
    align-items: center;
}

#barra {
    height: 50px;
}

header {
    margin: -8px;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100px;
    background-color: #1f58a8;
}

#img-logo {
    width: 150px; 
    height: auto;
    padding: 0 25px; 
}


body{
    margin: 0;
    display: flex; 
    flex-direction: column;
    min-height: 100vh; 
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    scroll-behavior: smooth;
}

.imagem-principal{
    background-image: url(/img/Boa\ viagem.jpg);
    height: 60vh;
    background-size: cover;
}

.centro-pagina {
    font-size: 40px;

    width: 90%;
    max-width: 950px; 
    
    
    margin-top: -40px; 
    margin-bottom: 30px; 
    margin-left: auto; 
    margin-right: auto; 
    

    padding: 20px 30px; 
    border-radius: 0px; 
    box-shadow: 0 0px 0px rgb(255, 255, 255);
    
}

#titulo{
    font-family: "Alan Sans", sans-serif;
    letter-spacing: -3px;
}


#paragrafo {
    font-family: "Open-Sans", sans-serif;
    text-indent: 15px;
    text-align:initial;
}

#paragrafo p{
    font-size: large;
}

a{
    font-family: "SUSE Mono", sans-serif;
}


.novo-menu {
    background-color: #2a65b8;
    display: flex;
    justify-content: center;
    padding: 1px 0; 
    border-bottom: 17px solid #3d6aae;
}



/*Botões de direcionamento*/

.botões{
    display: flex;
    justify-content: center;
    align-items:25px;
    text-align: center;
    gap: 12px;
    margin-bottom: 40px;
}

.botões button{
    background-color:#e7e9eb;
    border: 1px solid #e3e6e9;
    border-radius: 12px;
    padding: 7px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    font-family: sans-serif;
    font-size: 16px;
    color: #120b3f;
    font-weight: bold;
}

.botões button:hover{
    background-color: #e0e0e0;
    transform: translateY(-2px);
}

a:visited{
    color: #120b3f;
}

a{
    text-decoration: none;
}


.botões img{
    width: 35px;
    height: auto;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: -7px;
}
  

#rodape{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #606060;
    text-align: center;
    padding: 15px 30px;
    background-color: #2a65b8;
}

#rodape p {
    color: #ffffff; 
    margin: 0; 
    flex-grow: 1;
    text-align: center;
    padding: 10px;
}

.logo-footer{
    width: 100px;
    height: auto;
    max-width: 150px;
    padding: 7px;
 
}

.icons-footer{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px;
}

.icons-footer li{
    margin-left: 0;
}

.icons-footer img {
    width: 25px; 
    height: auto;
    padding: 3px;
}