/* Cabeçalho */
html {
    overflow-y: scroll;
}


header {
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: 70px;         
  background-color: #2a65b8; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
}

body {
  padding-top: 50px;
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;              
  align-items: center;
  text-decoration: none;
  color: white; 
    
}

.logo img {
    width: 90%;
    max-width: 150px
}

.hamburguer-nav {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1002;
}

.hamburguer {
    height: 40px;
    width: 40px;
    cursor: pointer;
    position: relative;
}

.hamburguer span {
    height: 4px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.hamburguer span:nth-child(1) { top: 25%; }
.hamburguer span:nth-child(3) { top: 75%; }

.hamburguer.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.hamburguer.active span:nth-child(2) { opacity: 0; }

.hamburguer.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.menu {
    position: absolute;
    top: 70px;
    right: 0;
    width: 300px;
    max-height: 0;
    background: linear-gradient(180deg, #2a65b8 0%, #1f4d8f 100%);
    transition: max-height 0.4s ease;
    overflow: hidden;
    z-index: 1000;
}

.menu.active {
    max-height: 400px;
}

.menu-content {
    padding: 20px 0 40px 0;
    opacity: 0;
    transition: opacity 0.4s ease 0.2s;
}

.menu.active .menu-content {
    opacity: 1;
}


.menu-item {
    padding: 1.5rem 2.5rem;
    color: white;
    text-decoration: none;
    display: block;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: "SUSE Mono", sans-serif;
    transition: all 0.3s ease;
    border-left: 4px solid transparent;
    position: relative;
}

.menu-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background: rgba(255, 255, 255, 0.1);
    transition: width 0.3s ease;
}

.menu-item:hover::before {
    width: 100%;
}

.menu-item:hover {
    border-left-color: #ffffff;
    padding-left: 3rem;
    color: #ffffff;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 999;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

/**/

body {
    scroll-behavior: smooth;
}

.sidebar {
    position: fixed;
    font-size: 1rem;
    margin-left: 200px;
    margin-top: 20px;
    width: 90%;
}

.sidebar-titulo {
    position: fixed;
    font-family: sans-serif;
    margin-top: 40px
}

.sidebar-links{
    position: fixed;
    display: flex;
    font-family: sans-serif;
    flex-direction: column;
    font-size: 0.8rem;
    margin-top: 70px;
    gap: 10px;
}



/* CSS do Tópico Inicial */


.praias-info {
    display: flex;
    gap: 30px;
    flex-direction: row-reverse;
}

.texto-info {
    flex: 1;
}

.img-praias-container {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.img-rios {
    display: block;
    width: 350px; 
    height: auto; 
    border-radius: 8px;
}

.descricao-imagem {
    align-items: center;
    max-width: 60ch;
}

.poluicao {
    display: block;
    width: 250px;
    height: auto;
    border-radius: 10px;
    border-color: #606060;
    border-style: ridge;
    margin-left: 150px;
}

/* CSS do Tópico "Dentes" e "Visão" */


.anatomia-info {
    display: flex;
    flex-direction: row-reverse;
}


/* Formatação principal */


.main h1 {
    display: flex;
    font-family: 'Linux Libertine','Georgia','Times','Source Serif 4',serif;
    font-size: 1.85rem;
    line-height: 1.375;
    font-weight: normal;
    margin: 0;

}

.main h2 {
    display: flex;
    font-family: 'Linux Libertine', 'Georgia', 'Times', 'Source Serif 4', serif;
    font-size: 1.5rem;
    line-height: 1.375;
    font-weight: normal;
    margin: 0;
}

.main h3 {
    display: flex;
    font-size: 1.15em;
    font-weight: bold;
    font-family: sans-serif;
    margin: 0.25em 0 0.25em 0;
    
}

.main p {
    font-family: sans-serif;
    
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    justify-content: space-between;
}

.main {
    width: 90%;
    max-width: 950px; 
    
    
    margin-top: 30px; 
    margin-bottom: 30px; 
    margin-left: auto; 
    margin-right: auto; 
    

    background-color: #ffffff; 
    padding: 20px 30px; 
    border-radius: 0px; 
    box-shadow: 0 0px 0px rgb(255, 255, 255);
}



    .indice-container {
            width: 280px;
            border: 1px solid #a2a9b1;
            padding: 15px;
            background-color: #f8f9fa;
        }


        .indice-header {
            display: flex;
            justify-content: space-between; /* Coloca os itens nas extremidades */
            align-items: center;
            margin-bottom: 10px;
        }

        .indice-titulo {
            font-weight: bold;
            font-size: 1.2em;
        }

        .indice-toggle {
            font-size: 0.9em;
            color: #0645ad;
            text-decoration: none;
            background: none;
            border: none;
            cursor: pointer;
        }
        .indice-toggle:hover {
            text-decoration: underline;
        }


        /* Rodapé */


#rodape{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #606060;
    text-align: center;
    padding: 15px 30px;
    background-color: #2a65b8;
    margin: -8px;
}

#rodape p {
    color: #ffffff;  
    flex-grow: 1;
    text-align: center;
    padding: 10px;
}

.logo-footer{
    width: 100px;
    height: auto;
    max-width: 150px;
    padding: 7px;
 
}

.icons-footer{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px;
}

.icons-footer li{
    margin-left: 0;
}

.icons-footer img {
    width: 25px; 
    height: auto;
    padding: 3px;
}